$pimary-color: #7E86EE;
$pimary-color-light: #AEB4F2;
$pimary-color-dark: #383C74;

$secondary-color: #A8EAAE;
$secondary-color-light: #67D671;
$secondary-color-dark: #38743D;

$gray: #E6E6E6;
$gray-light: #F7F7F7;
$gray-dark: #8A8A8A;