.category-page {
    flex: 1;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 25px;
    }

    h2 {
        margin-top: 25px;
        margin-left: 45px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    button {
        margin-top: 25px;
        margin-left: 50px;
    }
}