$primary-color: #F9B733;
$primary-color-light: #ff9b0f;
$primary-color-dark: #C28305;

$secondary-color: #A8EAAE;
$secondary-color-light: #67D671;
$secondary-color-dark: #0D8B48;

$gray: #E6E6E6;
$gray-light: #F7F7F7;
$gray-dark: #8A8A8A;

$error: #ef5350;
$bg-forms: #f8eed9; 

$card-box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
$card-box-shadow-hover: 0 3px 4px 0 rgba(0,0,0,.12);

$primary-font: 'Lato', sans-serif;