.header {
  height: 60px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
}

@media (max-width: 800px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 10px;
    padding: 10px 15px 15px;
  }
}

.header__logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.header__user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.footer {
  height: 60px;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #38743D;
  color: white;
}

@media (max-width: 800px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px;
  }
}

.footer__copyright {
  font-size: 14px;
}

@media (max-width: 800px) {
  .footer__copyright {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__social svg {
  font-size: 30px;
}

@media (max-width: 800px) {
  .footer__social svg {
    font-size: 50px;
  }
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #FDD480;
  color: white;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .search {
    margin-bottom: 5px;
    padding: 30px 15px;
  }
}

.search h1 {
  text-align: center;
}

.search__form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .search__form {
    width: 100%;
  }
}

.categories {
  padding: 15px 30px;
}

@media (max-width: 800px) {
  .categories {
    padding: 30px 15px;
  }
}

.categories h2 {
  font-size: 20px;
}

.categories__container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 800px) {
  .categories__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

.category {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  max-width: 340px;
  margin: 10px 15px;
}

.category:hover {
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
}

.category__image-container {
  height: 180px;
  overflow: hidden;
}

.category img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .category img {
    height: auto;
    width: 100%;
  }
}

.category h3 {
  padding: 0 10px;
  font-size: 14px;
  margin: 10px 0 6px;
}

.category p {
  padding: 0 10px;
  font-size: 12px;
  margin: 6px 0 10px;
  color: #8A8A8A;
}

.products {
  padding: 15px 30px;
}

@media (max-width: 800px) {
  .products {
    padding: 30px 15px;
  }
}

.products h2 {
  font-size: 20px;
}

.products__loading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.products__container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 800px) {
  .products__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

.products__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  color: silver;
  margin: 15px 5px;
}

.product {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  max-width: 340px;
  margin: 10px 15px;
}

.product:hover {
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.12);
}

.product__image-container {
  height: 180px;
  overflow: hidden;
}

.product img {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .product img {
    height: auto;
    width: 100%;
  }
}

.product h3 {
  padding: 0 10px;
  font-size: 14px;
  margin: 10px 0 6px;
}

.product p {
  padding: 0 10px;
  font-size: 12px;
  margin: 6px 0 10px;
  color: #8A8A8A;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
}

@media (max-width: 800px) {
  .app {
    padding-top: 115px;
  }
}

.section-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #F7F7F7;
}

.error {
  padding: 25px 0;
  color: #ab2525;
}

.preview {
  margin-top: 15px;
  width: 250px;
}

.preview img {
  width: 100%;
}
/*# sourceMappingURL=App.css.map */