@import './variables';
//LAYOUT
@import "./layout/header";
@import "./layout/footer";
//PAGES
@import "./pages/detailPage";
@import "./pages/registerPage";
//COMMON   
@import "./common/search";
@import "./common/categories";
@import "./common/category";
@import "./common/products";
@import "./common/product";
@import "./common/productDetail";
@import "./common/formatText";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;

    @media (max-width: 800px) {
        padding-top: 115px;
    }
}

.section-container {
    flex: 1;
    background-color: $gray-light;
    display: flex;
    flex-direction: column;
}

.error {
    padding: 25px 0;
    color: #ab2525;
}

.form-control {
    margin: 15px 0;
    width: 100%;
}

.preview {
    margin-top: 15px;
    width: 250px;

    img {
        width: 100%;
    }
}

