.product-form {
    width: 100%;
    display: flex;
    gap: 25px;
    flex: 1;
    
    div {
        flex: 1;
        width: 100%;
    }

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 0;
    }

    &__actions {
        margin: 20px 0 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}